*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,html{
    height: 100%;
}

.center{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: center;
}

.clear{clear: both;}


.container{
    position: relative;
    width: 100%;
    height: 100%;
    top: 14em;
    display: flex;
}

.login{
    width: 30%;
    height: 100%;
    padding: 0 2%;
    background-color: white;
    display: block;
}

.login img{
    margin: 20px;
    width: 160px;
    height: 60px;
}

.header i{
    padding-top: 30px;
    margin: auto 0;
}

a.icon-face {
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    color: white;
    background-color: rgb(85, 85, 131);
    font-size: 22px;
}

a.icon-google {
    background-color: #CA4246;
    background-image: linear-gradient(45deg,#e0f143 50%, #e14141 50%, #62986b 66.666%, #476098 66.666%);
    background-size: 30%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0.24) 1px;
    font-size: 22px;
}

a.icon-apple {
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-size: 22px;
}


.form-login h2{
    font-size: 1.6em;
    letter-spacing: 3px;
    margin-top: 10%;
    margin-bottom: 1.3em;
    text-align: center;
}

.form-login-mobile h2{
    color: #ddd;
}

.form-login input[type=text],
.form-login input[type=password]{
    margin-top: 15px;
    display: block;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
}

.form-login input[type=text]{
    border: 1px solid black;
    color: black;
}

.form-login input[type=password],
.form-login-mobile input[type=password]{
    background-color: #ddd;
    border: 0;
}

.form-login span input{
    margin-top: 15%;
    
}

.form-login span label{
    margin-left: 0.4em;
    font-weight: normal;
    color: #ddd;
    transition: 0.2s;
}

.form-login span label:hover{
    color: black;
}

.button a{
    font-size: 60px;
}

.button i{
    position: relative;
    float: left;
    color: rgb(58, 58, 58);
    left: 40%;
    margin-top: 40px;
    transition: 0.2s;
}

.button i:hover{
    color: red;
}

footer{
    position: absolute;
    bottom: 0;
}

footer .settings{
    position: relative;
    bottom: 2em;
}


footer a{text-decoration: none;}

footer p{
    color: rgb(131, 131, 131);
    transition: 0.2s;
}

footer p:hover{
    color: black;
    transform: translateY(-3px);
}

.banner{
    position: absolute;
    z-index: 1;
    top:0;
    left: 30%;
    width: 70%;
    height: 100%; 
    background-image: url(/images/Anime_Playercard_Splash wide.png);
    background-size: cover;
    background-position: center;
}








